<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 10px;
  padding: 20px;
}

li {
  display: inline;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: black;
}


.header{
    text-align: center;
}

.intro{
    padding: 20px;
}
</style>
</head>
<body>
<div class="nav-bar">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/upload">Upload</a></li>
        <li><a href="/live">Live Speak</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</div>
<div class="header">
    <h1>Lazy People</h1>
</div>
<div class="intro">
    <div>
        What We Do:
        <p>
            We use voice recognition technologies to let you write codes without typing them yourself. All you need to do is get a mic and say the words.
        </p>
    </div>
</div>
</body>
</html>
