<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Syntax</title>
</head>
<body>
    <div>
        Variables assigning:
        <p>
            [Variable Type] [Variable Name] is/equals [Variable Value]
        </p><br>
        Variable operations:
        <p>
            [Variable Name] is/equals [Variable Operation]
        </p>
    </div>
    <hr>
    <div>
        Function declaring:
        <p>
            Define function [Function Name] parameters [Parameters]
        </p>
        <p>
            Close function - End function declaration
        </p>
        <p>
            * Function_name can be multiple words, as long as it comes before "parameter(s)" (i.e. "my_function")
        </p>
        <p>
            * Parameters can be multiple variables (i.e. "x y z") or none at all (don't say anything)
        </p><br>
        Function calls:
        <p>
            Call function [Function Name] arguments ["Variable" Variable Name] / [Strings]
        </p>
        <p>
            * Function_name can be multiple words, as long as it comes before "argument(s)" (i.e. "my_function")
        </p>
        <p>
            * Function calls can take in a mix of variables and only strings as arguments (i.e. "call function my_print
variable x hello world variable y" is equivalent to my_print(x, "hello world", y))
        </p><br>
        Print function call:
        <p>
            Print / Prince ["Variable" Variable Name] / [Strings]
        </p>
        <p>
            * Print can print out a mix of variables and strings (i.e. "print variable x hello world
  variable y" is equivalent to print(x, "hello world", y))
        </p>
        <p>
            * "prince" is there for leniency
        </p>
    </div>
    <hr>
    <div>
        If statements:
        <p>
            (Else / Elf) If ["Variable" Variable Name] (is / equals to / is not / does not equal to / is greater than / is less than) [Boolean / Integer]
        </p>
        <p>
            Else
        </p>
        <p>
            Close if - close all if statements
        </p>
            * (El)if only supports comparisons between variables or between variables and a int/bool <br>
            * "Else" is only needed to be said in order to instantiate the else statment <br>
            * Remember to close each if/elif/else by saying "close if" <br>
            * "Elf" is there for leniency <br>
    </div>
    <hr>
    <div>
        Main Function
        <p>
            In Main <br>
            * "In main" automatically sends the user into the "if __name__ == '__main__'" function
        </p>
    </div>
    <hr>
    <div>
        Undo / Redo:
        <p>
            "undo" - undos the last command <br>
            "redo" - redos the last undo <br>
            * Able to say either indefinitely without repercussions
        </p>
    </div>
    <hr>
    <div>
        Tab In / Out:
        <p>
            "tab in" - reduces the number of tabs by 1 <br>
            "tab out" - increases the number of tabs by 1
        </p>
    </div>
</body>
</html>